.box-a{
    background-color:#FF7069 ;
}
.box-b{
    background-color:#E36488 ;
}
.box-c{
    background-color: #FA6861;
}
.box-d{
    background-color:#FA61D0 ;
}
.box-e{
    background-color:#DB5AE7 ;
}
.box-f{
    background-color: #FF307C ;
}
.box-g{
    background-color: #D13FE6;
}
.box-h{
    background-color: #FC38D6;
}
.box-i{
    background-color: #B338FC;
}